@import "./CSS/navbar.css";
/* @import "./css/skills.css";
@import "./css/portfolio.css";
@import "./css/contact.css";
@import "./css/responsive.css"; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}
